<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

<div id="bookAndRideFind" class="col-md-6">
	<h4><u>Booking and Ride Finder</u></h4>
	<p>Ride finder application provides features for riding sharing and taxi services. Users can search available rides by location and destination. They can also book a ride service, including entering pick-up and drop-off locations, and save their profiles. An interactive map provides driver locations, pick-up address, and routes requested. User interaction is done through a client-side application which consumed business logic web services, with access to a back-end database.</p>
	<br>
	<p><b>Roles & Responsibilities</b></p>
	<ul>
		<li>Incorporated Bootstrap CSS into my HTML markups for styling and to create responsive web design</li>
		<li>Integrated Web API RESTful Web Service to send and receive information in JSON format</li>
		<li>Consumed my Web API with an ASP.NET MVC application</li>
		<li>Back-end technologies included using ADO.NET and Entity Framework with SQL Server to store and manipulate data</li>
		<li>Used C# to handle business logic within my application</li>
	</ul>
	<br>
	<p><b>Environments & Technologies</b></p>
	<p>ASP.NET Web API, AngularJS, SQL Server, JavaScript, C#, ADO.NET Entity Framework, HTML, CSS, Bootstrap, .NET, ASP.NEt</p>
</div>