
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
	<div id='title' class="animated rubberBand">
  		<span>
    		Erik May:
  		</span>
  		<span>
    		Full-Stack .NET Developer
  		</span>
	</div>
	<div>
		<img id="profPic" src="Images/profPic.jpg" class="img-rounded">
	</div>

		<div id="socialMedia" class="col-md-6">
      <a href="https://www.linkedin.com/in/erik-may-a572a934/"><i id="linkedIn" class="fa fa-linkedin"></i></a>
      <a href="https://www.facebook.com/erik.may.10"><i id="facebook" class="fa fa-facebook"></i></a>
    </div>
    <div id="aboutMe" class="col-md-6">
		
			<div class="panel-group" id="accordion">
    			<div class="panel panel-default">
        			<div class="panel-heading">
        				<h4 class="panel-title">
            				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
      						About Me
            				</a>
        				</h4>
        			</div>
        			<div id="collapseOne" class="accordiaon-body collapse">
        				<div class="panel-body">
           					As a full stack developer, my primary responsibilities include creating efficient and maintainable full-scale web applications using a variety of .NET technologies and frameworks. My front-end development experience is defined by my work with JavaScript, Angular, and Bootstrap. I also have experience working with many business layer and back-end technologies including ASP.NET MVC, ADO.NET, and Entity Framework. Further experience includes developing REST based Web Services. I have experience working in AGILE development environments.<br><br>
						</div>
   					</div>
				</div>
				<div class="panel panel-default">
        			<div class="panel-heading">
        				<h4 class="panel-title">
            				<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
      						Education
            				</a>
        				</h4>
        			</div>
        			<div id="collapseTwo" class="accordiaon-body collapse">
        				<div class="panel-body">
           					<div id="ouInfo">
           					<img id="OhioU" src="Images/Ohio-University.jpg" class="img-rounded">
           					<p>Awarded Bachelor's Degree in Computer Science in December, 2016</p>
           					</div>
						</div>
   					</div>
				</div>
				<div class="panel panel-default">
        			<div class="panel-heading">
        				<h4 class="panel-title">
            				<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
      						Recent Projects
            				</a>
        				</h4>
        			</div>
        			<div id="collapseThree" class="accordiaon-body collapse">
        				<div class="panel-body">
           					<a href ng-click="studentPortal()">Student Registration Portal</a><br>
           					<a href ng-click="bookingAndRideFinder()">Booking and Ride Finder</a><br>
           					<a href ng-click="examAssessment()">Exam Assessment Management and Portal System</a>
						</div>
   					</div>
				</div>



			</div>

		</div>

	<div id="donutchart"></div>
	<div id="donutchartTwo"></div>
	<div id="donutchartThree"></div>
	<div id="donutchartFour"></div>

	
	

