<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

<div id="examAssessment" class="col-md-6">
	<h4><u>Exam-Assessment Management and Portal System</u></h4>
	<p>The EAMPS solution is developed for managing a repository of questions and provide features for conducting examinations. User roles are defined for administrators, trainers, and associates (i.e. students). As an associate, they can take an exam, submit an exam, review answers, and view their scores. The trainers have the ability to schedule an exam, view scores by associate and at group level, and add/delete/edit questions. Administrators have additional features, such as creating and editing exam templates, and editing categories/topics/subjects. This application provides an AngularJS front-end for users to interact with available features, multiple web services that contain the business logic, and data access services to manage a database.</p>
	<br>
	<p><b>Roles & Responsibilities</b></p>
	<ul>
		<li>Leveraged AngularJS into Bootstrap CSS and HTML to generate views for the application</li>
		<li>Developed AngularJS services and factories to share data between controllers</li>
		<li>Integrated UI.router to handle routing functionality in AngularJS for the front-end of the application</li>
		<li>Integrated two-way data binding in AngularJS to share data between controllers.</li>
		<li>Developed a Web API to send and receive user login information in JSON format</li>
		<li>Database design and implementation completed using SQL and SQL Server Management Studio</li>
		<li>Integrated Entity Framework to communicate with a SQL database</li>
		<li>Followed AGILE development methodologies and practices using Pivotal Tracker</li>
	</ul>
	<br>
	<p><b>Environments & Technologies</b></p>
	<p>ASP.NET Web API, AngularJS, SQL Server, JavaScript, C#, ADO.NET Entity Framework, HTML, CSS, Bootstrap, .NET, ASP.NEt</p>
</div>

<div id="linktoWebsite">
	<a href="http://ec2-54-215-138-178.us-west-1.compute.amazonaws.com/ExamApp"><u><p class="animated infinite flash">CHECK OUT THE WEBSITE!</p></u></a>
</div>