<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
	<div id='title' class="animated rubberBand">
  		<span>
    		Erik May:
  		</span>
  		<span>
    		Full-Stack .NET Developer
  		</span>
	</div>
	<div>
		<img id="profPic" src="Images/profPic.jpg" class="img-rounded">
	</div>

	
	<div id='aboutMe' class="animated bounceIn">
		<div class="col-md-6">
		<span>
			About Me
		</span>	
		<button data-toggle="collapse" data-target="#demo" type="button" id="aboutButton">...</button>

		<div id="demo" class="collapse">
			As a full stack developer, my primary responsibilities include creating efficient and maintainable full-scale web applications using a variety of .NET technologies and frameworks. My front-end development experience is defined by my work with JavaScript, Angular, and Bootstrap. I also have experience working with many business layer and back-end technologies including ASP.NET MVC, ADO.NET, and Entity Framework. Further experience includes developing REST based Web Services including Web API.  I have experience working in AGILE development environments.
		</div>
		</div>
	</div>
	

