<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

<div id="studentPortalProj" class="col-md-6">
	<h4><u>Student Registration and Course Selection Portal with C#.NET</u></h4>
	<p>The web application is a portal meant for student registration and course enrollment. The university could enable the course enrollment for a limited duration during which registered students could login and enroll for their courses. The business logic involved would restrict students from enrolling to courses that did not align with the student's degree. The portal also provides feedback when student registered for courses with conflicting times and when reached max allowed courses per student. The portal also required to store personal and sensitive student information.</p>
	<br>
	<p><b>Roles & Responsibilities</b></p>
	<ul>
		<li>Incorporated Bootstrap CSS into my HTML markups for styling and to create responsive web design</li>
		<li>Integrated ASP.NET MVC design pattern to control the flow of the web application</li>
		<li>Back-end technologies included using ADO.NET and SQL Server to store and manipulate data</li>
		<li>Used C# to handle business logic within my application</li>
		<li>Focused on application architecture and layering my projects accordingly</li>
	</ul>
	<br>
	<p><b>Environments & Technologies</b></p>
	<p>.NET, ASP.NET, ADO.NET, C#, Bootstrap, SQL Server, ASP.NET MVC, HTML</p>
</div>